.ins-search {
  display: none;
}
.ins-search.show {
  display: block;
}
.ins-selectable {
  cursor: pointer;
}
.ins-search-mask,
.ins-search-container {
  position: fixed;
}
.ins-search-mask {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 8000 !important;
  background: rgba(0,0,0,0.5) !important;
}
.ins-input-wrapper {
  position: relative;
}
.ins-search-input {
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  outline: none !important;
  font-size: 16px !important;
  box-shadow: none !important;
  font-weight: 200 !important;
  border-radius: 0 !important;
  background: #fff !important;
  line-height: 20px !important;
  box-sizing: border-box !important;
  padding: 12px 28px 12px 20px !important;
  border-bottom: 1px solid #e2e2e2 !important;
  font-family: "Microsoft Yahei Light", "Microsoft Yahei", Helvetica, Arial, sans-serif !important;
}
.ins-close {
  top: 50%;
  right: 6px;
  width: 20px;
  height: 20px;
  font-size: 16px;
  margin-top: -11px;
  position: absolute;
  text-align: center;
  display: inline-block;
}
.ins-close:hover {
  color: #e78170;
}
.ins-search-container {
  left: 50% !important;
  top: 100px !important;
  z-index: 8001 !important;
  bottom: 100px !important;
  box-sizing: border-box !important;
  width: 540px !important;
  margin-left: -270px !important;
  border-top: 2px solid color-theme !important;
}
@media screen and (max-width: 559px), screen and (max-height: 479px) {
  .ins-search-container {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #f7f7f7;
  }
}
.ins-section-wrapper {
  left: 0 !important;
  right: 0 !important;
  top: 45px !important;
  bottom: 0 !important;
  overflow-y: auto !important;
  position: absolute !important;
}
.ins-section-container {
  position: relative !important;
  background: #f7f7f7 !important;
}
.ins-section {
  font-size: 14px !important;
  line-height: 16px !important;
}
.ins-section .ins-section-header,
.ins-section .ins-search-item {
  padding: 8px 15px !important;
}
.ins-section .ins-section-header {
  color: #9a9a9a !important;
  border-bottom: 1px solid #e2e2e2 !important;
}
.ins-section .ins-slug {
  margin-left: 5px !important;
  color: #9a9a9a !important;
}
.ins-section .ins-slug:before {
  content: '(';
}
.ins-section .ins-slug:after {
  content: ')';
}
.ins-section .ins-search-item header,
.ins-section .ins-search-item .ins-search-preview {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}
.ins-section .ins-search-item header .fa {
  margin-right: 8px !important;
}
.ins-section .ins-search-item .ins-search-preview {
  height: 15px !important;
  font-size: 12px !important;
  color: #9a9a9a !important;
  margin: 5px 0 0 20px !important;
}
.ins-section .ins-search-item:hover,
.ins-section .ins-search-item.active {
  color: #fff !important;
  background: #e78170 !important;
}
.ins-section .ins-search-item:hover .ins-slug,
.ins-section .ins-search-item.active .ins-slug,
.ins-section .ins-search-item:hover .ins-search-preview,
.ins-section .ins-search-item.active .ins-search-preview {
  color: #fff !important;
}
