{{ define "main" }}
<div id="single" class="page">
    <div id="top">
        <a class="icon-icon" href="javascript:history.back()"></a>
    </div>
    <div class="section">
        <div class="article">
            <div>
                <div class="main">
                    <div class="content">
                        <div class="timeline">
                          <h2 class="timeline-title">归档: {{ len (where .Site.RegularPages "Section" "==" "posts") }}篇</h2>
                            {{ range (where (where .Site.Pages "Type" "posts") "Kind" "page").GroupByDate "2006" }}
                            <h3 class="timeline-subtitle">{{ .Key }}</h3>
                                {{ range .Pages }}
                                <div class="timeline-item">
                                  <time>{{ .Date.Format "2006-01-02" }}</time>
                                  <a target="_self" href="{{ .Permalink }}">{{ .Title }}</a>
                                </div>
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}