{{ range first 1 (where .Paginator.Pages "Type" "posts") }}
<div id="screen">
    <div id="mark">
        <div class="layer" data-depth="0.4">
            <img id="cover" crossorigin="anonymous" src="{{ .Params.cover }}">
        </div>
    </div>

    <div id="vibrant">
        <svg viewBox="0 0 2880 1620" height="100%" preserveAspectRatio="xMaxYMax slice">
            <polygon opacity="0.7" points="2000,1620 0,1620 0,0 600,0 " style="fill: rgb(176, 14, 36);"></polygon>
        </svg>
        <div style="background-color: rgb(176, 14, 36);"></div>
    </div>
    <div id="header">
        <div>
            <a class="image-logo" href="{{ .Site.BaseURL }}"></a>
            <div class="icon-menu switchmenu" style="color: rgb(195, 106, 82);"></div>
        </div>
    </div>
    <div id="post0">
        <p>{{ .Date.Format .Site.Params.date_format }}</p>
        <h2><a title="{{ .Title }}" class="posttitle" href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p>{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}...<p>
    </div>
</div>
{{ end }}